*.DS_Store
config/tmdb_token.txt
config/kobis_key.txt
data/*.csv
data/processed/*
!data/processed/.gitkeep
data/posters/*
!data/posters/.gitkeep
outputs/figures/*
!outputs/figures/.gitkeep
outputs/metrics/*
!outputs/metrics/.gitkeep
.venv/
__pycache__/
*.pyc
